<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <nav aria-label="primary">
        <ul class="nav__list">
          {% for page in navigation.pages %}
          <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% if page.subMenu %}
            <ul>
              {% for subMenu in page.subMenu %}
              <li>
                <a href="{{ subMenu.url }}">{{ subMenu.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>