<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <nav aria-label="primary">
        <ul class="nav__list">
          {% for item in navigation.pages %}
          <li>
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) }}>{{ item.title }}</a>
            {% if item.subMenu %}
            <ul>
              {% for subMenu in item.subMenu %}
              <li>
                <a href="{{ subMenu.url }}">{{ subMenu.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>